table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    width: 600px;
    height: 200px;
}

tr, td{
    width: 150px;
}

tr:nth-child(even){
    background-color: blue;
    color: white;
}
tr:nth-child(odd){
    background-color: cyan;
}



td:nth-child(1), th:nth-child(1){
    text-align: left;
}
td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3){
    text-align: center;
}

td:nth-child(4), th:nth-child(4){
    text-align: right;
}

th{
    background-color: greenyellow;
}